.container {
	float: left;
	margin: 4px;
	display: inline-block;
	clear: both;
}

.inner_container {
  color: #000000;
  margin: 20px;
  padding: 4px;
  display: inline-block;
  text-align: left;
  font-family: verdana,helvetica,arial,sans-serif;
}

.profile_div {
  color: #008000;
  margin: 10px;
  background-color: #F2FAFF;
  width: 550px;
  display: inline-block;
  text-align: left;
  float: left;
  font-family: verdana,helvetica,arial,sans-serif;
}

.label_green {
  color: #008000;
  margin-right: 20px;
  padding: 2px;
  width: 250px;
  vertical-align: text-top;
  display: inline-block;
  text-align: right;
  font-size: 20px;
  font-family: verdana,helvetica,arial,sans-serif;
  font-weight: bold;
}


.category {
  color: #FF0000;
  //float: left;
  font-family: verdana,helvetica,arial,sans-serif;
}

.button {
  color: #008000;
  margin-left: 150px;
  margin-right: 20px;
  //padding: 2px;
  width: 80px;
  vertical-align: text-center;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  font-family: verdana,helvetica,arial,sans-serif;
  font-weight: bold;
}

label {
  color: #037AC1;
  margin-right: 20px;
  padding: 2px;
  width: 350px;
  vertical-align: text-top;
  display: inline-block;
  text-align: right;
  font-size: 14px;
  font-family: verdana,helvetica,arial,sans-serif;
  font-weight: bold;
}


.value {
  color: #000000;
  margin-right: 20px;
  padding: 4px;
  //width: 250px;
  display: inline-block;
  text-align: left;
  font-family: verdana,helvetica,arial,sans-serif;
}

.paragraph {
  color: #000000;
  margin-right: 20px;
  padding: 4px;
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-family: verdana,helvetica,arial,sans-serif;
}

.paragraph_small {
  color: #000000;
  margin-right: 20px;
  padding: 4px;
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  font-family: verdana,helvetica,arial,sans-serif;
}

.error_top {
  color: red;
  margin-left: 10px;
  float: left;
  display: inline-block;
   //overflow: hidden;
   width: 1000px;
  //text-align: right;
}

.error {
  color: red;
  margin-left: 10px;
  float: right;
  //text-align: right;
}

.header {
	background-color: #95D7FE;
	float: left;
	width: 100%;
	height: 60px;
	color: #FFFFFF;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 20px;
	text-align: center;
}

.footer {
	background-color: #95D7FE;
	float: left;
	width: 100%;
	height: 60px;
	color: #FFFFFF;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 20px;
	text-align: center;
}

.link {
	float: left;
	margin: 10px;
	background-color: #FFFFFF;
	float: left;
	width: 150px;
	height: 60px;
	color: #01A3D6;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}


/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.row {
	float: left;
	margin: 4px;
	display: inline-block;
	clear: both;
}

.search_row {
  color: #037AC1;
  margin-right: 20px;
  margin-bottom: 4px;
  text-align: right;
  font-family: verdana,helvetica,arial,sans-serif;
  font-weight: bold;
}

.label {
  color: #037AC1;
  margin-right: 20px;
  width: 220px;
  vertical-align: top;
  display: inline-block;
  text-align: right;
  font-size: 14px;
  font-family: verdana,helvetica,arial,sans-serif;
  font-weight: bold;
}

.message {
  color: #008000;
  margin: 10px;
  display: inline-block;
  text-align: right;
  font-family: verdana,helvetica,arial,sans-serif;
  font-weight: bold;
}

.button {
  color: #008000;
  margin-left: 150px;
  margin-right: 20px;
  //padding: 2px;
  width: 80px;
  display: inline-block;
  text-align: right;
  font-family: verdana,helvetica,arial,sans-serif;
  font-weight: bold;
}


